<div>
    <form name="changePasswordForm" novalidate>
        <input name="email" type="email" ng-model="email"
               required placeholder="Email"
               style="margin-bottom: 5px; margin-top: 5px;"/>
        <div ng-show="isSuccessed === true" style="color: red;">
            Check your email. Letter was send successfully.
        </div>
        <div ng-show="isSuccessed === false" style="color: red;">
            Can't find that email, sorry.
        </div>
        <div style="color:red" ng-if="changePasswordForm.email.$dirty || changePasswordForm.email.$invalid">
            <span ng-if="changePasswordForm.email.$error.required">Email is required.</span>
            <span ng-if="changePasswordForm.email.$error.email">Invalid email address.</span>
        </div>
        <button type="submit" class="btn btn-success btn-sm" ng-click="requestOnChangingPassword(email)"
                ng-disabled="changePasswordForm.email.$dirty && changePasswordForm.email.$invalid">Send</button>
    </form>
</div>