<div>
    <input name="email" type="email" ng-model="email"
           required placeholder="Email"
           style="margin-bottom: 5px; margin-top: 5px;"/>
   <!-- <td ng-show="isSuccessed">
        <div style="color: red;">
               Check your email. Letter send successfully.
        </div>
    </td>
    <td ng-show="!isSuccessed">
        <div style="color: red;">
            Email does not exist.
        </div>
    </td>-->
    <button type="button" class="btn btn-success btn-sm" ng-click="requestOnChangingPassword(email)" >Send</button>
</div>