<br/>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/settings/company">{{ 'Company' | translate}}</a></li>
    <li role="presentation"><a href="#/settings/department">{{ 'Department' | translate}}</a></li>
    <li role="presentation" ><a href="#/settings/project">{{ 'Project' | translate}}</a></li>
    <li role="presentation" class="active"><a href="#/settings/user">{{ 'User' | translate}}</a></li>
</ul>
<br/>
<bt/>
<button type="button" class="btn btn-success btn-sm" ng-click="createNewItem()" data-toggle="modal"
        data-target="#editAndAddModal">
    Create new user
</button>

<div class="modal fade" ng-include="'layout/user/editAndAdd.html'" id="editAndAddModal" role="dialog"
     aria-hidden="true"></div>
<br/>
<br/>

<table ng-show="items.length > 0" class="table table-striped">
    <thead>
    <tr>
        <th>User First Name</th>
        <th>User Last Name</th>
        <th>User Login</th>
        <th>Email</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in items">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>
            <button class="btn btn-primary btn-sm" ng-click="getItemForUpdate(user)" data-toggle="modal"
                    data-target="#editAndAddModal">Edit
            </button>
            <button class="btn btn-danger btn-sm" ng-click="deleteItem(user)">Delete</button>
            <a class="btn btn-primary btn-sm" href="#/snapshots?id={{user.id}}">Snapshots</a>
        </td>
    </tr>
    </tbody>
</table>


