
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: white;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border: 1px ridge #54b4eb;
}

.div-signin {
    padding-top: 240px;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div.scroll-table{
    overflow: auto;
    height: 450px;
}


