
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: white;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border: 1px ridge #54b4eb;
}

.div-signin {
    padding-top: 240px;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div.scroll-table {
    overflow: auto;
    height: 450px;
}

.dropdown .open {
    padding: 29px 10px 10px 29px;
    width: 12px;
    height: 78px;
}


.pageCentered {
    margin: 0 auto;
    position: relative;
    width: 960px;
    padding-top: 20px;
}


