<div class="container">
    <div class="row">
        <fieldset>
            <legend>{{ 'Filters'|translate }}</legend>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="selectCompany" class="control-label">{{ 'Company'|translate }}</label>
                    <select class="form-control" id="selectCompany" ng-model="companyItem" ng-change="departmentItem = undefined;filterProjects()"
                            ng-options="com.name for com in savedCompanies">
                        <option value="">---------------------</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="selectDepartment" class="control-label">{{ 'Department'|translate }}</label>
                    <select class="form-control" id="selectDepartment" ng-model="departmentItem" ng-change="filterProjects()"
                            ng-options="dept.name for dept in savedDepartments | filter:{companyId:companyItem.id}">
                        <option value="">---------------------</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <br/>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'Company'|translate }}</th>
                    <th></th>
                    <th>{{ 'Department'|translate }}</th>
                    <th></th>
                    <th>{{ 'Project'|translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filteredUserProjects" ng-class="item.isOwner? 'success':''">
                    <td>{{item.company.name}}</td>
                    <td ng-show="!item.isOwner"></td>
                    <td ng-show="item.isOwner">
                        <button class="btn btn-success btn-sm" ng-show="item.company.status == 'PAUSED'" ng-click="changeCompanyStatus(item.company,'OPEN')"> Resume
                        </button>
                        <button class="btn btn-info btn-sm" ng-show="item.company.status == 'OPEN'" ng-click="changeCompanyStatus(item.company,'PAUSED')"> Paused
                        </button>
                        <button class="btn btn-warning btn-sm" ng-show="item.company.status !='CLOSED'" ng-click="changeCompanyStatus(item.company,'CLOSED')"> Closed
                        </button>
                    </td>
                    <td>{{item.department.name}}</td>
                    <td ng-show="!item.isOwner"></td>
                    <td ng-show="item.isOwner">
                        <button class="btn btn-success btn-sm" ng-show="item.department.status == 'PAUSED' && item.department.parentStatus == 'OPEN'" ng-click="changeDepartmentStatus(item.department,'OPEN')"> Resume
                        </button>
                        <button class="btn btn-info btn-sm" ng-show="item.department.status == 'OPEN' && item.department.parentStatus == 'OPEN'" ng-click="changeDepartmentStatus(item.department,'PAUSED')"> Paused
                        </button>
                        <button class="btn btn-warning btn-sm" ng-show="item.department.status !='CLOSED' && item.department.parentStatus != 'CLOSED'" ng-click="changeDepartmentStatus(item.department,'CLOSED')"> Closed
                        </button>
                    </td>
                    <td>{{item.project.name}}</td>
                    <td ng-show="!item.isOwner"></td>
                    <td ng-show="item.isOwner">
                        <button class="btn btn-success btn-sm" ng-show="item.project.status == 'PAUSED' && item.project.parentStatus == 'OPEN'" ng-click="changeProjectStatus(item.project, 'OPEN')"> Resume
                        </button>
                        <button class="btn btn-info btn-sm" ng-show="item.project.status == 'OPEN' && item.project.parentStatus == 'OPEN'" ng-click="changeProjectStatus(item.project,'PAUSED')"> Paused
                        </button>
                        <button class="btn btn-warning btn-sm" ng-show="item.project.status !='CLOSED' && item.project.parentStatus != 'CLOSED'" ng-click="changeProjectStatus(item.project,'CLOSED')"> Closed
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>