<div style="padding-top: 20px;">
    <div class="container" style="width: 100%!important; text-align: center">
        <div class="row" >
            <div>
                <select style="display: inline-block; width: 194px; height: 40px; text-align: center !important;"  name="userId" class="form-control" ng-model="userDTO" ng-change="userId = userDTO.id;goToSelectedDate(date)"  ng-options="sc.lastName for sc in userItems track by sc.id" required>
                    <option value="">-- choose user --</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                <a class="btn" href="#dashboard" ng-click="goToPreviousDate(date)"
                        ><</a>
                <input type='text' class="form-control" id='datetimepicker' ng-model="date" types="simple"
                       picker
                       style="display: inline-block; width: 194px; height: 30px; text-align: center !important;"/>
                <a class="btn" href="#dashboard" ng-disabled="isMoreOrEqualThanCurrentDate()"
                   ng-click="goToNextDate(date)">></a>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker').datetimepicker({
                        locale: 'ru',
                        format: 'YYYY-MM-DD'
                    });
                });
            </script>
        </div>
    </div>
    <div>
        <div>
            <label style="font-family: Gotham Book,sans-serif;">Total time logged: {{totalHours}}:{{totalMinutes}}</label>
        </div>
        <table style="table-layout:inherit;width: 100%">
            <tbody ng-repeat="snapshots in snapshotsUser track by $index">
            <tr ng-show="isShowingRow(snapshots)">
                <td ng-repeat="snapshot in snapshots track by $index" rowspan="2" ng-show="$index == 0"
                    style="width: 19px; height: 139px; background: #f2f2f0">
                    <label>{{convertTime(snapshot.order)}}</label>
                </td>
                <td ng-repeat="snapshot in snapshots track by $index" ng-show="$index != 0 " colspan="{{countSnap[snapshot.id]}}">
                    <div ng-class="snapshot.file != undefined ? 'oWdGridMemo':''" ng-show="countSnap[snapshot.id] != undefined"><span>{{snapshot.message}}</span></div>

                </td>
            </tr>
            <tr ng-show="isShowingRow(snapshots)">

                <td ng-repeat="snapshot in snapshots track by $index" ng-show="$index != 0">

                    <div ng-if="snapshot.file == undefined"
                         style="border: 1px dashed #d2d6de;width: 150px; height: 100px; padding: 1px;">

                    </div>
                    <div ng-if="snapshot.file != undefined">
                        <div id="wrap">
                            <img style="width: 150px; height: 100px; padding: 1px;"
                                 ng-src="data:image/jpg;base64,{{snapshot.file}}"
                                 ng-click="getFullImageSrc(snapshot.id)"
                                 class="img-responsive" snapshot="snapshot.file"
                                 message="snapshot.message"
                                 time="snapshot.time"
                                 percent="snapshot.userActivityPercent"
                                 note="snapshot.note"
                                 custom-popover popover-placement="right">
                        </div>
                        <script>
                            $(function () {
                                $("[data-toggle='tooltip']").tooltip();
                                $("[data-toggle='popover']").popover();
                            });
                        </script>
                    </div>
                    <div style="height: 21px;width: 150px;">
                        <label class="control-label" style="float: left; height: 14px;">{{snapshot.time}}&nbsp</label>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{snapshot.userActivityPercent}}%;">
                                <span style="color: #000000;"></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" ng-include="'layout/snapshot/snapshotModal.html'" id="snapshotModal" role="dialog"
         aria-hidden="true"></div>
</div>




