
<div class="container-fluid">


    <div class="row" style="float: left; display: flex">

        <ul class="pager">
            <li style="color: #000000;">
                <span class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="startDateLabel" role="button" data-toggle="dropdown"
                       data-target="#" href="">
                        <div class="input-append"><input type="text" class="input-large"
                                                         data-ng-model="startDate"
                                                         style="color: #000000;" placeholder="Start date"><span
                                class="add-on"><i
                                class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="startDateLabel">
                        <datetimepicker data-ng-model="startDate" data-format
                                        data-on-set-time="setStartDate(startDate)"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'day', minView:'day'  }"></datetimepicker>
                    </ul>
                </span>
            </li>
        </ul>

        <ul class="pager">
            <li style="color: #000000;">
                <span class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="endDateLabel" role="button" data-toggle="dropdown"
                       data-target="#" href="">
                        <div class="input-append"><input type="text" class="input-large" data-ng-model="endDate"
                                                         placeholder="End date"
                                                         style="color: #000000;"><span
                                class="add-on"><i
                                class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="endDateLabel">
                        <datetimepicker data-ng-model="endDate" data-format data-on-set-time="setEndDate(endDate)"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'day', minView:'day' }"></datetimepicker>
                    </ul>
                </span>
            </li>
        </ul>

        <div class="form-group">
            <label for="selectCompany" class="col-lg-2 control-label">{{ 'Company'|translate }}</label>
            <select class="form-control" id="selectCompany" ng-model="company" ng-click="department = undefined;"
                    ng-options="sc.name for sc in companies track by sc.id ">

            </select>
        </div>

        <div class="form-group">
            <label for="selectDepartment" class="col-lg-2 control-label">{{ 'Department'|translate }}</label>
            <select class="form-control" id="selectDepartment" ng-model="department"
                    ng-options="sc.name for sc in departments | filter: { companyId: company.id}">

            </select>
        </div>

        <div class="form-group">
            <label for="selectProject" class="col-lg-2 control-label">{{ 'Project'|translate }}</label>
            <select class="form-control" id="selectProject" ng-model="project" ng-options="sc.name for sc in projects | projectByCompanyFilter: company.departmentsDTO | filter: { departmentId: department.id} ">
            </select>

        </div>
        <div class="form-group">
            <label for="selectProject" class="col-lg-2 control-label">Period</label>
            <br/>
            <div class="form-control">

                <input type="radio" ng-model="period" value="MONTH"/>MONTH
                <input type="radio" ng-model="period" value="WEEK"/>WEEK
                <input type="radio" ng-model="period" value="DAY" ng-checked="true"/>DAY
            </div>
        </div>
    </div>

</div>

<div>
    <button class="btn btn-primary btn-sm" ng-click="applyFilters()">Apply</button>
</div>
<br/>
<table ng-show="hoursOnDate.length > 0" class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">User FIO</th>
        <th style="text-align: center;" ng-repeat="(number,dates) in hoursOnDate[0].periodDTOs">
            {{dates.startDate| date:'yyyy-MM-dd'}}
            <output ng-show="dates.startDate != dates.endDate">- {{dates.endDate| date:'yyyy-MM-dd'}}</output>
        </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in hoursOnDate">
        <td style="text-align: center;">{{item.user.firstName}} {{item.user.lastName}}</td>
        <td style="text-align: center;" ng-repeat="(date,count) in item.hoursDate">{{count | number:2}}</td>
    </tr>
    </tbody>
</table>
