<div class="container">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <nav class="pageCentered">
                <ul class="nav navbar-nav" ng-show="isLoggedIn"
                    style="height: 60px; width: 1903px; margin: 0 auto;">
                    <li><a href="#/my">{{ 'My page' | translate }}</a></li>
                    <li><a href="#/employees">{{ 'Employees' | translate }}</a></li>
                    <li><a href="#/settings/company">{{ 'Settings' | translate }}</a></li>
                    <li class="dropdown open">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ 'Reports' |  translate }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="#/workDiary">{{ 'Diary' | translate}}</a></li>
                        </ul>
                    </li>
                </ul>
                <div style="position: absolute; right:0;">
                    <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
                        <li class="dropdown open">
                            <a class="dropdown-toggle" data-toggle="modal" data-target="#editModal" role="button" aria-expanded="true">{{authorizedUser}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li><a href="#/login" ng-click="logout()">{{ 'Sign out' | translate }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <select ng-controller="LanguageController" name="language" ng-model="selectedLanguage"
                                    ng-options="language.name for language in languages track by language.name"
                                    ng-change="changeLanguageListener()" class="form-control">
                            </select>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right" ng-show="!isLoggedIn">
                    <li><a href="#/registration">{{ 'Registration' | translate }}</a></li>
                    <li><a href="#/login">{{ 'Sign in' | translate }}</a></li>
                    <li>
                        <select ng-controller="LanguageController" name="language" ng-model="selectedLanguage"
                                ng-options="language.name for language in languages track by language.name"
                                ng-change="changeLanguageListener()" class="form-control">
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" ng-include="'layout/user/editProfile.html'" id="editModal" role="dialog"
     aria-hidden="true"></div>