
<br/>
<br/>
<div id="employees-filters" class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="form-group">
            <select class="form-control" id="select_company" ng-options="company.name for company in companies"
                    ng-model="selectedCompany" ng-change="filterDepartments()">
                <option value=""> - choose company - </option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="form-group">
            <select class="form-control" id="select_department" ng-options="department.name for department in departments"
                    ng-model="selectedDepartment" ng-change="filterProjects();">
                <option value=""> - choose department - </option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="form-group">
            <select class="form-control" id="select_project" ng-options="project.name for project in projects"
                    ng-model="selectedProject" ng-change="filterUsers()">
                <option value=""> - choose project - </option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="input-group">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="goToPreviousDate(date)"> < </button>
            </span>
            <input type='text' class="form-control" id='datetimepicker' ng-model="date" ng-change="goToSelectedDate(date)"
                   picker
                   style="display: inline-block; text-align: center !important;"/>
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="goToNextDate(date)"> > </button>
            </span>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    locale: 'ru',
                    format: 'YYYY-MM-DD'
                });
            });
        </script>
    </div>
</div>
<br/>
<br/>
<div id="employees-grid" class="col-lg-12 col-md-12 col-sm-12">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Productivity</th>
                <th>Time</th>
                <th>Start at</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in users track by u.id" ng-click="goToEmployeePage(u)">
                <td>{{ u.lastName + ' ' + u.firstName}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
